<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}"> 

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{navigation}}

    <div>

        {{! Everything else gets inserted here }}
        {{{body}}}

        <hr>

        <footer>
            <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} - Proudly published with <a href="https://ghost.org">Ghost</a>
        </footer>

    </div>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
</body>
</html>
